body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #fff;
    color: #111;
    padding: 0 10px 0 10px;
}

.navbar {
    display:flex;
    justify-content:flex-start;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: #f6f0f0cc;
    backdrop-filter: blur(10px);
}

nav {
    display:flex;
    overflow:scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

nav a {
    background: #dae1ee;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
}

.navbar a:hover {
    background: #420101cc;
    color: #fff;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.navbar a:active {
    background: #db0606cc;
    color: #fff;
    transform: scale(1.1);
}

.hero {
    padding: 100px 40px;
    text-align: center;
    background: #f5f6f8;
}

.hero-content {
    display:flex ;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    background: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background: rgb(69, 56, 56)
}

.btn-outline {
    padding: 12px 20px;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.featured {
    padding: 60px 40px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

.article-card img {
    width: 100%;
    border-radius: 8px;
}