body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #fff;
    color: #111;
    padding: 0 10px 0 10px;
}

.navbar {
    z-index: 9999;
    /* pastikan lebih tinggi dari gambar */
    display: flex;
    justify-content: flex-start;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: #f6f0f0cc;
    backdrop-filter: blur(5px);
}

nav {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

nav a {
    background: #dae1ee;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
}

.navbar a:hover {
    background: #420101cc;
    color: #fff;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.navbar a:active {
    background: #db0606cc;
    color: #fff;
    transform: scale(1.1);
}

.hero {
    padding: 100px 40px;
    text-align: center;
    background: #f5f6f8;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    background: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background: rgb(69, 56, 56)
}

.btn-outline {
    padding: 12px 20px;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.featured {
    padding: 60px 40px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

.article-card img {
    width: 100%;
    border-radius: 8px;
}

section img {
    float: left;
    margin: 0 16px 12px 0;
    margin-right: 30px;
    max-width: 45%;
    height: auto;
    border-radius: 20px;
}

section ul,
section ol {
    list-style-position:outside;
    padding-left: 28px;
    
}

.portfolio-card {
    position: relative;
    overflow: hidden;
}

.portfolio-card div:hover {
    width: fit-content;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.28);
    transform: translateY(-4px);
    border-radius: 0px;
}

.portfolio-card div {
    overflow: hidden;
    width: fit-content;
    transition: box-shadow .3s ease, transform .3s ease;
    border-radius: 20px;
}

.portfolio-card img {
    width: 300px;
    max-width: 100%;
    transition: transform 0.3s ease, transform-origin 0.2s ease;
}